* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #load{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url('../images/rotate.gif') no-repeat center;
    background-size: cover;
    z-index: 99999;
  }